body
{
    width: 80%;
    margin:auto;
    margin-top: 30px;
    background-color: antiquewhite;
    max-width: 1080px;
}
header
{
    background-color: antiquewhite;
}
p
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    width: 80%;
}
h1
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 42px;
    color: aliceblue;
    background-color: orange;
    width: 450px;
    text-align: center;
    margin-left: -20px;
}
h2
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    margin-top: -20px;
}
h5
{
    color:rgb(94, 92, 179);
}
main
{
    background-color: beige;
    min-width: 450px;
}
aside
{
    float : right;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 350px;
    border:grey solid 1px;
    border-radius: 10px;   
    padding-left: 10px;
    background-color:burlywood;
}
.coordonnees
{
    display: flex;
    justify-content: space-around;
    text-align: center;

}
.column1
{
    width: 50%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-right: grey solid 1px;
}
.column2
{
    width: 50%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    text-align: left;
}